* {
	margin: 0;
	padding: : 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	font-family: "Montserrat", sans-serif;
	background-image: url('bg.jpg');
	background-size: cover;
	background-position: top center;
}

.app-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0.6));
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 15px 15px;
}

header input {
	width: 100%;
	max-width: 280px;
	padding: 10px 15px;
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.3);
	color: gray;
	font-size: 20px;
	font-weight: 300;
	transition: 0.2s ease-out;
}

header input:focus {
	background-color: rgba(255, 255, 255, 0.8);
}

main {
	flex: 1 1 100%;
	padding: 25px 25px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 10px;
}

.location .city {
	color: white;
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 5px;
}

.location .date {
	color: white;
	font-size: 16px;
}	

.current .temp {
	color: white;
	font-size: 100px;
	margin: 15px 0px;
}

.current .weather {
	color: white;
	font-size: 16px;
	margin-bottom: 15px;
}

.current .hi-low {
	color: white;
	font-size: 16px;
}